<div id="shopping-cart" class="desktop-12 tablet-6 mobile-3">

  <h2>{{ 'cart.general.title' | t }}</h2>
  {% if cart.item_count == 0 %}
  <p>{{ 'cart.general.empty' | t }}</p>

  {% else %}
  <script type="text/javascript">
    function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cartform').submit();
    }
  </script>
  <form action="/cart" method="post" id="cartform">

    <table>
      <thead>
        <tr>
          <th style="text-align:left"><label>{{ 'cart.general.product' | t }}</label></th>
          <th class="cart--remove" style="text-align: center;"><label>{{ 'cart.general.remove' | t }}</label></th>
          <th><label>{{ 'cart.general.price' | t }}</label></th>
          <th style="text-align: center;"><label>{{ 'cart.general.qty' | t }}</label></th>
          <th class="cart--total-price"><label>{{ 'cart.general.total' | t }}</label></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.items %}
        <tr>
          <td class="cart-item">
              <div class="cart-image" style="max-width: 100px;">
                <a href="{{ item.url }}" title="{{ item.product.title | escape }}">
                  <img src="{{ item | img_url: '400x' }}" alt="{{ item.title | escape }}" />
                </a>
              </div>
              <div class="cart-title">
                {% if settings.vendor %}<p>{{ item.vendor }}</p>{% endif %}
                {{ item.title }}
              </div>
            {% assign property_size = item.properties | size %}
            {% if property_size > 0 %}
            {% for p in item.properties %}
            {% unless p.last == blank %}
            {{ p.first }}:

            {% comment %}
            Check if there was an uploaded file associated
            {% endcomment %}
            {% if p.last contains '/uploads/' %}
            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
            {% else %}
            {{ p.last }}
            {% endif %}

            <br>
            {% endunless %}
            {% endfor %}
            {% endif %}
          </td>
          <td class="cart-remove">
            <a href="#" onclick="remove_item({{ item.variant.id }}); return false;"><i class="fa fa-times"></i><span class="remove-text">{{ 'cart.general.remove' | t }}</span></a>
          </td>          
          <td class="cart-price">

            {% if item.variant.compare_at_price > item.price %}
              <div class="onsale">
                <span class="money">{{ item.price | money }}</span>
              </div>
              <div class="was">
                <span class="money">{{ item.variant.compare_at_price | money }}</span>
              </div>

            {% else %}

              <div class="prod-price">
                <span class="money">{{ item.price | money }}</span>
              </div>

            {% endif %}
          </td>
          <td class="cart-quantity">
            <input type="text" class="cart-qty" size="4" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"/>
          </td>
          <td class="cart--total-price">
            <span class="money">{{ item.line_price | money }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div id="basket-right" class="desktop-4 tablet-6 mobile-3">
      <h4><span class="subtotal-header">{{ 'cart.general.subtotal' | t }}</span> <span class="money">{{ cart.total_price | money }}</span></h4>
      <input type="submit" name="update" id="update-cart" value="{{ 'cart.general.update' | t }}" class="button" />
      <input type="submit" name="checkout" id="checkout" value="{{ 'cart.general.checkout' | t }}" class="button" />
      <div class="clear"></div>
      {% if additional_checkout_buttons %}
      {{ content_for_additional_checkout_buttons }}
      {% endif %}
      <div class="clear"></div>
    </div>

    {% if settings.cart_notes_enable %}
    <div id="cart-notes" class="desktop-12 mobile-3">
      <label for="note"><strong>{{ 'cart.general.note' | t }}</strong></label>
      <textarea name="note" id="note" rows="5" cols="60">{{cart.note}}</textarea>
    </div>
    {% endif %}

  </form>
  {% endif %}


</div>
