<div id="customer-wrapper" class="desktop-12 mobile-3 centered">
  
   {{ page.content }}

   <div id="customer--signup-options" class="row">

<div id="template" class="desktop-5 desktop-push-1 tablet-3 mobile-3">

  {% comment %} :: LEFT : Passsword Recovery {% endcomment %}
  <div id="recover-password">

    <div class="template_header">
      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
    </div>
    
    {% form 'recover_customer_password' %}
    
      {{ form.errors | default_errors }}
      
      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" placeholder="{{ 'customer.recover_password.email' | t }}" />
      </div>
      
      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
      </div>
    
    {% endform %}
  </div>

</div>

  </div>
</div>