<div id="page" class="desktop-12 tablet-6 mobile-3" data-section-id="{{ section.id }}">
  <h1>{{ page.title }}</h1>
  
  {% section 'slideshow' %}

  <section id="loyo--opening">
    <blockquote>
      <p>&ldquo;It’s incredible to be part of this bebe campaign. It&rsquo;s not only about <em>me loving the brand</em>, but more importantly about <em>me loving myself</em>.  I hope to <em>inspire and empower women all over the world</em> with this message of <em>self-love</em>. I believe it is super important.&rdquo;</p>


      <footer>
        <p class="q-name">Bebe Rexha</p>
        <p class="q-attr">2xGrammy&reg;-nominated artist</p>
      </footer>
    </blockquote>
  </section>

  <section id="loyo--video">
    {% section 'video' %}
  </section>  

  <section id="loyo--middle">

    <img id="loyo--middle-1" src="{{ 'loveyourself-desktop-1.jpg' | file_url }}" />

    <div class="content--text">
      {% include 'svg-icon-loveyourself', text_color: "#fff" %}

      <p>The campaign was inspired by Bebe Rexha’s honest unveiling of the fashion community and their injustice when she was nominated for a Grammy earlier this year. In an empowering video on Instagram, Rexha called out designers who failed to dress all celebrities, and those who do not fit “a runway size.” Rexha urged women and men to love their bodies and feel beautiful at any size, hence the campaign hashtag <strong>#LoveYourself</strong>.</p>

    </div>

    <div class="content--promo">

      <div class="promo--text">
        {% include 'svg-icon-loveyourself' %}

        <a href="/collections/loveyourself" title="Shop the Collection">Shop the Collection</a>
      </div>
    
      <img src="{{ 'loveyourself-desktop-2.jpg' | file_url }}">
    
    </div>


  </section>

  <section id="loyo--quads">
    <h2>Backstage with Bebe</h2>

    <div class="quads--wrapper">
      <div class="quad">
        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351726454?background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
      </div>
      <div class="quad">
        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351726424?background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
      </div>

      <div class="quad">
        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351726486?background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
      </div>
      
      <div class="quad quad--text" style="background: url( {{ 'quads-bg-desktop-1.jpg' | file_url }} )">
        <p>Two-time Grammy®-nominated New York City native Bebe Rexha is a musical force to be reckoned with.  She has accumulated over 12 million overall single sales, over 6 billion total global streams, and a radio audience over 10 billion.</>
      </div>
    </div>

    <div class="quads--wrapper">

      <div class="quad">
        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351726543?background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
      </div>

      <div class="quad quad--text" style="background: url( {{ 'quads-bg-desktop-2.jpg' | file_url }} )">
        <p>Her debut, RIAA Gold album, Expectations (released June 2018) contained the massive single &ldquo;I’m a Mess&rdquo; and global chart-topping smash “Meant To Be” (featuring Florida Georgia Line), now RIAA Certified 7x Platinum.  #1 on the Billboard Hot Country Songs chart for a record-setting 50 straight weeks, the longest reign ever by a female lead artist, “Meant To Be” won Best Collaboration at the 2018 iHeart Radio Music Awards. </p>
      </div>
      <div class="quad">
        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351726512?background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
      </div>
      <div class="quad">
        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351726424?background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
      </div> 
    </div>
    
    
    <script src="https://player.vimeo.com/api/player.js"></script>

  </section>

  <section id="loyo--bottom">
    <div class="content--background">

      <div class="content--text">
        <blockquote>
          <p>“I grew up wearing bebe. It was the coolest piece of fashion you could have, so to be able to mix fashion and my music is so fun.”</p>

          <footer>
            <p class="q-name">Bebe Rexha</p>
            <p class="q-attr">2xGrammy&reg;-nominated artist</p>
          </footer>

        </blockquote>

        <div class="cta">
          {% include 'svg-icon-loveyourself', text_color: '#fff' %}
          <a href="/collections/loveyourself" title="Shop the Collection">shop the collection</a>
        </div>

      </div>


      <img src="{{ 'loyo-bottom-desktop.jpg' | file_url }}" />
    </div>   
  </section>

</div>
