  <div id="customer_sidebar" class="desktop-2 tablet-6 mobile-3">
    <h2>{{ 'customer.account.sidebar_title' | t }}</h2>

    <div id="customer_detail" class="group">
      <h5 class="name">{{ customer.name }}</h5>
      <p class="email note">{{ customer.email }}</p>
      <div class="address note">
        {% if customer.default_address != nil %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != "" %}
        <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
        <p>{{ customer.default_address.zip}}</p>
        <p>{{ customer.default_address.phone }}</p>
        {% endif %}

      </div>

    </div>

    <ul id="account-nav">
      <li><a id="view_my_account" href="/account">{{ 'customer.account.dashboard' | t }}</a></li>
      <li><a id="view_address" href="/account/addresses">{{ 'customer.account.address_book' | t }} ({{ customer.addresses_count }})</a></li>
      <li><a href="/account?view=orders" title="Order History">Order History</a></li>
      <li><a id="sign_out" href="{{ shop.url }}/account/logout">{{ 'customer.account.sign_out' | t }}</a></li>
    </ul>
    
  </div>