{% comment %} <div id="top-bar-bg" {% if section.settings.num_of_promo_banners == "2" %} class="double-promo"{% endif %}>
  <div id="bg-1"></div>
  <div id="bg-2"></div>
</div> {% endcomment %}

<div id="top-bar" {% if section.settings.full_width_header %} class="gridlock-fluid"{% endif %}>
  {% if section.settings.full_width_header %}<div class="row">{% endif %}

    {% comment %} ..:: ONE PROMO BANNER ::.. {% endcomment %}
    {%- if section.settings.num_of_promo_banners == "1" -%}
      <div id="single-promo-wrapper" class="promo-banner one desktop-12 tablet-6 mobile-3">
        {%- if section.settings.announcement_link_one -%}
          <a href="{{ section.settings.announcement_link_one }}">{{ section.settings.announcement_text_one }}</a>
        {%- else -%}
          <a href="#announcement-popup-content--one">{{ section.settings.announcement_text_one }} <span class="details-link">Details</a>
        {%- endif -%}
      </div>
      <div id="announcement-popups">
          {% if section.settings.announcement_popup_one_content != blank %}
            <div id="announcement-popup-content--one">
              {{ pages[section.settings.announcement_popup_one_content].content }}
            </div>
          {% endif %}
      </div>
    {%- endif -%}


    {% comment %} ..:: TWO PROMO BANNER ::.. {% endcomment %}
    {%- if section.settings.num_of_promo_banners == "2" -%}
      <div id="double-promo-wrapper">

        {% comment %} MOBILE : LEFT ARROW {% endcomment %}
        <div id="promo-arrow-left">
          {% include 'svg-icon-left' %}
        </div>

        <div class="promo-banner one">
          {%- if section.settings.announcement_link_one -%}
            <a href="{{ section.settings.announcement_link_one }}">{{ section.settings.announcement_text_one }}</a>
          {%- else -%}
            <a href="#announcement-popup-content--one">{{ section.settings.announcement_text_one }} <span class="details-link">Details</a>
          {%- endif -%}
        </div>

        <div class="promo-banner two">
          {%- if section.settings.announcement_link_two -%}
            <a href="{{ section.settings.announcement_link_two }}">{{ section.settings.announcement_text_two }}</a>
          {%- else -%}
            <a href="#announcement-popup-content--two">{{ section.settings.announcement_text_two }} <span class="details-link">Details</a>
          {%- endif -%}
        </div>

        <div id="announcement-popups">
          {% if section.settings.announcement_popup_one_content != blank %}
            <div id="announcement-popup-content--one">
              {{ pages[section.settings.announcement_popup_one_content].content }}
            </div>
          {% endif %}

          {% if section.settings.announcement_popup_two_content != blank %}
            <div id="announcement-popup-content--two">
              {{ pages[section.settings.announcement_popup_two_content].content }}
            </div>
          {% endif %}
        </div>

        {% comment %} MOBILE : RIGHT ARROW {% endcomment %}
        <div id="promo-arrow-right">
          {% include 'svg-icon-right' %}
        </div>

      </div>
    {%- endif -%}

  {% if section.settings.full_width_header %}</div>{% endif %}
</div>