<nav id="js-rich-nav" class="mobile-menu" role="navigation">
  <div id="rich-nav-container">
    
    <div class="main-menu__wrapper js-menu-wrapper">      
        <ul class="js-global__customercare nav-side__list">
         {% for link in linklists.main-menu.links %}          
            <li class="nav-side__item">
              <a rel="external" href="{{ link.url }}" class="nav-side__link nav-side__link--main">{{ link.title }}</a>
              {% if link.links != blank %} <span class="mobile_subnav" data-mainmenu="{{ link.title | downcase | replace: ' ', '-' }}"> &gt; </span>{% endif %}
            </li>          
         {% endfor %}
        </ul>
    </div> 

    {% for link in linklists.main-menu.links %}
    <div class="sub-menu__wrapper js-menu-wrapper" data-submenu="{{ link.title | downcase | replace: ' ', '-' }}">       
      <ul class="nav-side__list sub-menu__list" data-id="sub-menu"  data-name-display="{{ link.title }}">
        <li class="nav-side__item back-button">
            <span class="mobile_backto_nav" data-mainmenu="{{ link.title | downcase | replace: ' ', '-' }}"> &lt; </span><span class="nav-side__link nav-side__link--main"> {{ link.title }}</span>
          </li>
        {% for sub_link in link.links %}
            {% if sub_link != blank %}
              <li class="nav-side__item" data-submenu-open="{{ sub_link.title }}">
                <a class="nav-side__link nav-side__link--main return-link js-rich-nav" href="{{ sub_link.url }}" >{{ sub_link.title}}</a>
                {% if sub_link.links != blank %} <span class="mobile_sub_subnav" data-secondmenu="{{ sub_link.title | downcase | replace: ' ', '-' }}"> &gt; </span>{% endif %}
              </li>
            {% endif %}        
        {% endfor %}  
      </ul>              
    </div>
    {% endfor %}
  {% for link in linklists.main-menu.links %}     
    {% for sub_link in link.links %}
      {% if sub_link.links != blank %}
      <div class="sub-sub-menu__wrapper js-menu-wrapper" data-thirdmenu="{{ sub_link.title | downcase | replace: ' ', '-' }}"> 
        <ul class="js-global__customercare nav-side__list">
          <li class="nav-side__item sub-back-button">
            <span class="mobile_backto_nav" data-mainmenu="{{ link.title | downcase | replace: ' ', '-' }}" data-secondmenu="{{ sub_link.title | downcase | replace: ' ', '-' }}" data-gotomain="true"> &lt; </span><span class="nav-side__link nav-side__link--main"> {{ link.title }}</span>
          </li>
          <li class="nav-side__item sub-back-button">
            <span class="mobile_backto_subnav" data-secondmenu="{{ sub_link.title | downcase | replace: ' ', '-' }}"> &lt; </span>
            <span class="nav-side__link nav-side__link--main">{{ sub_link.title }}</span>
          </li>
          {% for sub_sub_link in sub_link.links %}
            <li class="nav-side__item">
              <a rel="external" href="{{ sub_sub_link.url }}" class="nav-side__link nav-side__link--main">{{ sub_sub_link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>           
      {% endif %}
    {% endfor %} 
  {% endfor %}
  </div>  
</nav>

<div class="nav-side__overlay js-switch-class" data-switch-class="nav__sidebar--open" data-switch-target="#nav-side-page-wrapper"></div>

<style>
.sub-menu__wrapper{display:none;}
.sub-menu__wrapper.sub-nav-opened{display:block;}
.sub-sub-menu__wrapper{display:none;}
.sub-sub-menu__wrapper.sub-sub-nav-opened{display:block;}
</style>