<div class="newsletter-wrapper">
  <div class="newsletter-inner">
    <header>
      {% unless section.settings.heading == blank %}
        <h2 class="newsletter-heading">{{ section.settings.heading }}</h2>
      {% endunless %}
      {% unless section.settings.newsletter_subheading == blank %}
        <h3 class="newsletter-subheading">
          {{ section.settings.newsletter_subheading }}
        </h3>
      {% endunless %}
    </header>

    <form id="footer-newsletter">
      <input class="form-control" type="email" id="email" name="email" placeholder="{{ section.settings.newsletter_placeholder }}">
      <label id="button-footer-newsletter-submit" for="footer-newsletter-submit">
        <input id="footer-newsletter-submit" type="submit" value="Subscribe">
        {% include 'svg-icon-caret-right-submit' %}
      </label>
    </form>
    <div id="newsletter-form--response">
      <span id="newsletter-error-response" style="display:none;">{{ section.settings.newsletter_error }}</span>
      <span id="newsletter-success-response" style="display:none;">
      {{ section.settings.newsletter_success }}</span>
    </div>

  </div><!-- .newsletter-inner -->
</div><!-- .newsletter-wrapper -->
