<div id="newsletter-modal" class="newsletter-modal" style="display:none;">

  <div class="newsletter-modal__head">
    {%- if settings.newsletter_popup_title != blank -%}
      <h3 class="newsletter-modal__heading">{{ settings.newsletter_popup_title }}</h3>
    {%- endif -%}

    {%- if settings.newsletter_popup_promotion != blank -%}
      <h2 class="newsletter-modal__promotion">{{ settings.newsletter_popup_promotion }}</h2>
    {%- endif -%}

    {%- if settings.newsletter_popup_body != blank -%}
      <p class="newsletter-modal__body">{{ settings.newsletter_popup_body }}</p>
    {%- endif -%}
  </div>

  <form id="modal-newsletter"
        action="{{ settings.newsletter_subscription_api_url }}"
        method="POST">
    <input type="hidden" name="MID" value="{{ settings.newsletter_email_service_provider_mid }}">
    <input type="hidden" name="lid" value="{{ settings.newsletter_email_service_provider_lid }}">
    <input type="hidden" id="sub-action" name="SubAction" value="{{ settings.newsletter_sub_action }}" checked>
    <input type="hidden" id="thank-you-url-footer" name="thx" value="{{ settings.newsletter_signup_thank_you_page }}">
    <input type="hidden" id="error-url-footer" name="err" value="{{ settings.newsletter_signup_error_page }}">
    <input type="hidden" id="unsub-url-footer" name="usub" value="{{ settings.newsletter_signup_unsub_page }}">
    <div>
      <label id="subscribe-modal-newsletter" for="modal-newsletter">
        <input type="email"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                name="Email Address"
                id="exct_id_email"
                aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}"
                placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                class="newsletter-modal__input"
                autocorrect="off"
                autocapitalize="off">
      </label>
      <label id="button-modal-newsletter-submit" class="newsletter-modal__btn-group" for="modal-newsletter-submit">
        <button type="submit" class="button newsletter-modal__btn" name="commit" id="modal-newsletter-submit">
          {{ 'general.newsletter_form.submit' | t }}
        </button>
      </label>
    </div>
    <div id="modal-form--response">
      <span id="modal-error-response" style="display:none;">{{ settings.newsletter_error }}</span>
      <span id="modal-success-response" style="display:none;">{{ settings.newsletter_success }}</span>
    </div>
  </form>

  {%- if settings.newsletter_popup_fine_print != blank -%}
    <p class="newsletter-modal__fine-print">{{ settings.newsletter_popup_fine_print }}</p>
  {%- endif -%}
</div>
