<div id="newsletter-modal" class="newsletter-modal" style="display:none;">

  <div class="newsletter-modal__head">
    {%- if settings.newsletter_popup_title != blank -%}
      <h3 class="newsletter-modal__heading">{{ settings.newsletter_popup_title }}</h3>
    {%- endif -%}

    {%- if settings.newsletter_popup_promotion != blank -%}
      <h2 class="newsletter-modal__promotion">{% if customer %}
          {{ section.settings.member_offer }}
        {% else %}
          {{ section.settings.non_member_offer }}
        {% endif %}</h2>
    {%- endif -%}

    {%- if settings.newsletter_popup_body != blank -%}
      <p class="newsletter-modal__body">{{ settings.newsletter_popup_body }}</p>
    {%- endif -%}
  </div>

  <form id="modal-newsletter">
    <div>
      <label id="subscribe-modal-newsletter" for="modal-newsletter">
        <input type="email"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                name="Email Address"
                id="exct_id_email"
                aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}"
                placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                class="newsletter-modal__input"
                autocorrect="off"
                autocapitalize="off">
      </label>
      <label id="button-modal-newsletter-submit" class="newsletter-modal__btn-group" for="modal-newsletter-submit">
        <button type="submit" class="button newsletter-modal__btn" name="commit" id="modal-newsletter-submit">
          {{ 'general.newsletter_form.submit' | t }}
        </button>
      </label>
    </div>
  </form>
  <div id="modal-form--response">
    <span id="modal-error-response" style="display:none;">{{ settings.newsletter_error }}</span>
    <span id="modal-success-response" style="display:none;">{{ settings.newsletter_success }}</span>
  </div>  

  {%- if settings.newsletter_popup_fine_print != blank -%}
    <p class="newsletter-modal__fine-print">{{ settings.newsletter_popup_fine_print }}</p>
  {%- endif -%}
</div>