{% comment %} :: YOTPO STAR RATING :: Rendering point for yotpo star Rating component {% endcomment %}
{% if settings.yotpo_id != blank %}
	<div class="yotpo bottomLine"
	    data-appkey="{{ settings.yotpo_id }}"
	    data-domain="{{shop.permanent_domain | escape }}"
	    data-product-id="{{ product.id }}"
	    data-product-models="{{ product.id }}"
	    data-name="{{ product.title | escape }}"
	    data-url="{{ shop.url }}{{ product.url }}"
	    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
	    data-description="{{ product.description | escape }}"
	    data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
	</div>
{% endif %} 