  
{% comment %} CART BANNER IMAGE {% endcomment %}
{% if section.settings.image != blank %}

  <div class="cart-banner">

    {% if section.settings.link != blank %}<a href="{{ section.settings.link }}">{% endif %}

      {% include 'advanced-responsive-image' | default_image: section.settings.image, mobile_image: section.settings.mobile_image, block_id: block.id %}
      <noscript>
      <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt }}">
      </noscript>

    {% if section.settings.link != blank %}</a>{% endif %}
      
  </div>

{% endif %}

<div class="row">

  <div id="shopping-cart" class="desktop-12 tablet-6 mobile-3">

    <h2>{{ 'cart.general.title' | t }}</h2>
    {% if cart.item_count == 0 %}
    <p>{{ 'cart.general.empty' | t }}</p>

    {% else %}
    <script type="text/javascript">
      function remove_item(id) {
        document.getElementById('updates_'+id).value = 0;
        document.getElementById('cartform').submit();
      }
    </script>
    <form action="/cart" method="post" id="cartform" class="bfx-checkout-container">
      <div id="cartform--table " class="desktop-8 tablet-6 mobile-3">

       <span class="hide bfx-customData-label">userAgent</span>
      <span class="hide bfx-customData-value" id="orderUserAgent"></span>

        {% for item in cart.items %}
          {% comment %} CART : LOOP {% endcomment %}
          {% assign item_name = item.title | split: ' - ' | first %}
          {% assign item_props = item.title | split: ' - ' | last %}

          <div class="cartform--item bfx-product">
            {% comment %} CART : LOOP : Image {% endcomment %}
            <div class="cart-image">
                <a href="{{ item.url }}" title="{{ item.product.title | escape }}">
                  <img src="{{ item | img_url: '400x' }}" alt="{{ item.title | escape }}" />
                </a>
            </div>

            {% comment %} CART : LOOP : Info {% endcomment %}
            <div class="cart-item-properties">
              <div class="cart-item-info">
                {% if settings.vendor %}<p>{{ item.vendor }}</p>{% endif %}
                <span class="cart-title">
                  <a class="bfx-product-name" href="{{ item.url }}" title="{{ item.product.title | escape }}">{{ item_name }}</a>
                </span>
                <span class="cart-props">
                  {{ item_props }}
                </span>

                <span class="cart-sku">
                  SKU: {{ item.sku }}
                </span>

                <span class="bfx-sku hide">
                {{ item.variant_id }}
                </span>

                <span class="bfx-product-customData-label hide">variant_id</span>
                <span class="bfx-product-customData-value hide">{{ item.variant_id }}</span>

                {% comment %} CART : ITEM : Price {% endcomment %}

                <div class="cart-price">
                
                  <span class="cart-price-label">{{ 'cart.general.price' | t }}</span>

                {% if item.variant.compare_at_price > item.price %}
                  <div class="onsale">
                    <span class="money bfx-price bfx-list-price">{{ item.price | money }}</span>
                  </div>
                  <div class="was">
                    <span class="money bfx-price">{{ item.variant.compare_at_price | money }}</span>
                  </div>

                {% else %}

                  <div class="prod-price">
                    <span class="money bfx-price bfx-list-price">{{ item.price | money }}</span>
                  </div>

                {% endif %}
                </div> 

                {% comment %} CART : ITEM : Quantity {% endcomment %}

                <div class="cart-quantity">
                  <label for="updates_{{ item.variant.id }}">{{ 'cart.general.qty' | t }}</label>
                  <input type="text" class="cart-qty bfx-product-qty" size="4" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"/>
                </div>                

              </div>

              {%comment%}
                Final sale text for all sale product
                //template == 'cart' and 
              {%endcomment%}
              {% assign itemprice = item.price | money  %}
              {% for tag in item.product.tags %}
                {% if tag contains 'returnly_no_refund' or itemprice contains '.99' %}
                  <div class="final_sale sale_product">{{settings.final_sale}}</div>
                {%- endif -%}
              {% endfor %}

              <div class="cart-item-actions">
                <div class="cart-remove">
                  <a href="#" onclick="remove_item({{ item.variant.id }}); return false;"><i class="fa fa-times"></i><span class="remove-text">{{ 'cart.general.remove' | t }}</span></a>
                </div>         

              </div>

              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                  <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

            </div>
            <div class="cart--total-price">
              <span class="money bfx-price bfx-product-subtotal">{{ item.line_price | money }}</span>
            </div>
          </div>
        {% endfor %}

        {% comment %} CART :: Bottom Actions {% endcomment %}

        <div class="cartform--table--bottom-actions">

          {% if section.settings.cart_bottom_block != blank %}
            <div class="cartform--table--bottom-block">
              {{ section.settings.cart_bottom_block }}
            </div>

          {% endif %}

          <input type="submit" name="update" id="update-cart" value="{{ 'cart.general.update' | t }}" class="button" />
        </div>

      </div>

      {% comment %} CART :: TOTALS {% endcomment %}

      <div id="basket-right" class="desktop-4 tablet-6 mobile-3">
        <h3>{{ 'cart.general.order_summary' | t }}</h3>
        <h4><span class="subtotal-header">{{ 'cart.general.subtotal' | t }}</span> <span class="money bfx-price bfx-total-subtotal">{{ cart.total_price | money }}</span></h4>
        <input type="submit" name="checkout" id="checkout" value="{{ 'cart.general.checkout' | t }}" class="button bfx-checkout" />
        <div class="clear"></div>
        {% if additional_checkout_buttons %}
          {{ content_for_additional_checkout_buttons }}
          <div class="clear"></div>
        {% endif %}

        {% if settings.cart_notes_enable %}
          <div id="cart-notes">
            <label for="note"><strong>{{ 'cart.general.note' | t }}</strong></label>
            <textarea name="note" id="note" rows="5" cols="60">{{cart.note}}</textarea>
          </div>
        {% endif %}        
      </div>

    </form>
    {% endif %}

  </div>

</div>

{% for block in section.blocks %}
  {% if block.settings.nosto_id != blank %}
    <div class="row">
      {% include 'nosto-element' with block.settings.nosto_id %}
    </div>
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Cart Template",
    "settings": [
      {
        "type": "header",
        "content": "Cart Promo Banner"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Image (Mobile)"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "html",
        "id": "cart_bottom_block",
        "label": "Cart Bottom - Additional HTML"
      }
    ],
    "blocks": [
      {
        "type": "Nosto_element",
        "name": "Nosto element",
        "settings": [
          {
            "type": "text",
            "id": "nosto_id",
            "label": "Nosto id"
          }
        ]
      }
    ]
  }
{% endschema %}
