<div class="footer-section" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <footer class="site-footer">

    {% comment %} :: ROW #1 -- Footer Menu + Brand Links :: {% endcomment %}
    {% comment %} :: Manually removing this while building out new footer :: {% endcomment %}
    <div class="row">

      {% comment %} :: FOOTER NAVIGATION :: {% endcomment %}
      {% if section.blocks %}
        <div class="footer-blocks" style="display:none;">

          {% for block in section.blocks %}
            {% assign menu = linklists[block.settings.menu_id] %}
            <div class="footer-nav">
              <nav>

                {% comment %} :: TITLE : Basic title if no nested menus inside footer :: {% endcomment %}
                {% if menu.levels < 2 and block.settings.show_headings %}
                  <h4 class="nav-sub-header">{{ menu.title }}</h4>
                {% endif %}


                {% comment %} :: LINKS : Menu Content links :: {% endcomment %}
                <ul>
                  {% for link in menu.links %}

                    {% comment %} :: NESTED MENU :: {% endcomment %}
                    {% if link.levels > 0 %}
                      <li class="footer-sub-nav-wrapper" data-link-size="{{ link.links.size }}">

                        {% comment %} :: SUB-NAV HEADER :: {% endcomment %}
                        {% if block.settings.show_headings %}
                          <h4 class="nav-sub-header">{{ link.title }}</h4>
                        {% endif %}

                        {% comment %} :: SUB-NAV MENU LINKS :: {% endcomment %}
                        <ul class="footer-sub-nav">
                          {% for sub_link in link.links %}
                            <li>{{ sub_link.title | link_to: sub_link.url }}</li>
                          {% endfor %}
                        </ul>

                      </li>

                    {% comment %} :: ELSE, REGULAR SINGLE LINK :: {% endcomment %}
                    {% else %}
                       <li>{{ link.title | link_to: link.url }}</li>
                    {% endif %}

                  {% endfor %}
                </ul>

              </nav>
            </div><!-- .footer-nav -->
          {% endfor %}

        </div><!--.footer-blocks-->
      {% endif %}

      {% comment %} :: FOOTER NAVIGATION :: {% endcomment %}
      {% if section.blocks %}
        <div class="footer-blocks">
          <div class="footer-nav">
            <nav>
              <ul>
                <li class="footer-sub-nav-wrapper" data-link-size>
                  <h4 class="nav-sub-header">ABOUT US</h4>
                  <ul class="footer-sub-nav">
                    <li>
                        <a href="#" title="">ABOUT BEBE</a>
                    </li>
                    <li>
                        <a href="#" title="">INVESTOR RELATIONS</a>
                    </li>
                    <li>
                        <a href="#" title="">CAREERS</a>
                    </li>
                    <li>
                        <a href="#" title="">STORE LOCATOR</a>
                    </li>
                  </ul>
                </li><!-- .footer-sub-nav-wrapper -->
                <li class="footer-sub-nav-wrapper" data-link-size>
                  <h4 class="nav-sub-header">CONTACT US</h4>
                  <ul class="footer-sub-nav">
                    <li>
                        <a href="#" title="">ABOUT BEBE</a>
                    </li>
                    <li>
                        <a href="#" title="">INVESTOR RELATIONS</a>
                    </li>
                    <li>
                        <a href="#" title="">CAREERS</a>
                    </li>
                    <li>
                        <a href="#" title="">STORE LOCATOR</a>
                    </li>
                  </ul>
                </li><!-- .footer-sub-nav-wrapper -->
                <li class="footer-sub-nav-wrapper" data-link-size>
                  <h4 class="nav-sub-header">QUICK LINKS</h4>
                  <ul class="footer-sub-nav">
                    <li>
                        <a href="#" title="">ABOUT BEBE</a>
                    </li>
                    <li>
                        <a href="#" title="">INVESTOR RELATIONS</a>
                    </li>
                    <li>
                        <a href="#" title="">CAREERS</a>
                    </li>
                    <li>
                        <a href="#" title="">STORE LOCATOR</a>
                    </li>
                  </ul>
                </li><!-- .footer-sub-nav-wrapper -->
              </ul>
            </nav>
          </div><!-- .footer-nav -->
        </div><!-- .footer-blocks -->
        {% endif %}
      </div><!-- .row -->

    {% comment %} :: ROW #2 -- Newsletter signup :: {% endcomment %}
    <div class="row">
      <div class="container">
        <div class="email-text">
          <div class="foot-sub-emailtext fl-inline">
            <span>STAY IN TOUCH &amp; GET 20% OFF</span>
            {% comment %} :: JS from live site related to newsletter form :: {% endcomment %}
            {% comment %} <script type="text/blzscript">$(document).ready(function(){if(("#egcForm").length){$("#eGiftFormContent .scheduleDelivery span").html("(If today's date is selected, e-gift card will be sent the following day. Weekend orders will be sent by end of day on Monday.)");}});</script> {% endcomment %}
          </div><!-- .foot-sub-emailtext -->
          <div class="foot-sub-emailform fl-inline">
            <form id="emailOrMobileForm" class="fl-inline">
              <input type="text" id="emailOrMobileNumber" value="EMAIL">
              <a class="formButton" id="submitEmailOrMobile" href="#">ENTER</a>
            </form>
            {% comment %} :: Hidden link text related to email and sms notification (sign up forms) ::  {% endcomment %}
            {% comment %} <a style="display:none;" class="openAjaxLayer" id="jsLauchEmailLayer" href="/user/subscribe_layer.jsp">Email Sign Up</a>
            <a style="display:none;" class="openAjaxLayer" id="jsLauchTextLayer" href="/user/text_subscribe_layer.jsp">Text Sign Up</a> {% endcomment %}
          </div><!-- .foot-sub-emailform -->

        </div><!-- .email-text -->
      </div><!-- .container -->
    </div>

    {% comment %} :: ROW #3 -- Privacy Policy + Terms + Site Map :: {% endcomment %}
    <div class="row"><!-- style="font-family:SourceSansProRegular,Arial,Helvetica,sans-serif;" -->
      <div class="foot-subfoot">
        <div class="subfoot-links">
          <span class="raf-wrapper">
            <a class="raf-footer" href="#">
              <span class="raf-text">
                  REFER A FRIEND &amp; GET
                  <span class="strong">200 POINTS</span>
              </span>
              <span class="raf-separator"></span>
              <span class="fo-how">FIND OUT HOW ►</span>
            </a>
          </span><!-- .raf-wrapper -->
          <span>
            <span class="link-wrap strong">
              <a href="#" title="PRIVACY POLICY">PRIVACY POLICY</a>
            </span>
            <span class="link-wrap">
              <a href="#" title="CALIFORNIA TRANSPARENCY IN SUPPLY CHAINS ACT">CALIFORNIA TRANSPARENCY IN SUPPLY CHAINS ACT</a>
            </span>
            <span class="link-wrap">
                <a href="#" title="OUR CALIFORNIA PRIVACY RIGHTS">OUR CALIFORNIA PRIVACY RIGHTS</a>
            </span>
            <span class="link-wrap">
              <a href="#" title="TERMS OF USE">TERMS OF USE</a>
            </span>
            <span class="link-wrap">
              <a href="#" title="">SITE MAP</a>
            </span>
          </span>
        </div><!-- .subfoot-links -->
        <div class="copyright">
          <span class="copyright-wrapper">&copy; 2018 BEBE STUDIO, INC.&nbsp; ALL RIGHTS RESERVED&nbsp;<span>
        </span>
        </div>
      </div><!-- .foot-subfoot -->
    </div>

  </footer>
</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
     {
       "type": "header",
       "content": "Phone Number"
     },
     {
       "type": "text",
       "id": "tel_text",
       "label": "Display Text",
       "default": "855-377-BOOT (2668)",
       "info": "This is the text that will be displayed on the site."
     },
     {
      "type": "text",
      "id": "tel_number",
      "label": "Actual Number",
      "default": "18553772668",
      "info": "This is the number that will actually be dialed when the link is clicked on mobile. Do not include dashes or any punctuation."
     },

     {
       "type": "header",
       "content": "Payment Methods"
     },
     {
       "type": "checkbox",
       "id": "show_credit_cards",
       "label": "Show credit card icons",
       "default": true,
       "info": "The icons that show are determined by your store's payment settings."
     },
     {
       "type": "header",
       "content": "Visit Our Brands - #1"
     },
     {
      "type": "url",
      "id": "visit_brand_link_one",
      "label": "URL"
     },
     {
      "type": "image_picker",
      "id": "visit_brand_image_one",
      "label": "Logo"
     },
     {
       "type": "header",
       "content": "Visit Our Brands - #2"
     },
     {
      "type": "url",
      "id": "visit_brand_link_two",
      "label": "URL"
     },
     {
      "type": "image_picker",
      "id": "visit_brand_image_two",
      "label": "Logo"
     },
     {
       "type": "header",
       "content": "Visit Our Brands - #3"
     },
     {
      "type": "url",
      "id": "visit_brand_link_three",
      "label": "URL"
     },
     {
      "type": "image_picker",
      "id": "visit_brand_image_three",
      "label": "Logo"
     },
     {
       "type": "header",
       "content": "Trust Icons"
     },
     {
      "type": "image_picker",
      "id": "trust_icon_image_one",
      "label": "Logo #1"
     },
     {
      "type": "image_picker",
      "id": "trust_icon_image_two",
      "label": "Logo #2"
     },
     {
      "type": "image_picker",
      "id": "trust_icon_image_three",
      "label": "Logo #3"
     }
    ],
    "blocks":[
      {
        "type":"link_list",
        "name":"Menu",
        "settings":[
          {
            "type": "link_list",
            "id": "menu_id",
            "label": "Footer Menu"
          },
          {
            "type": "checkbox",
            "id": "show_headings",
            "label": "Show Footer Menu Headers",
            "default": false,
            "info": "(Hidden by default)"
          }
        ]
      }
    ]
  }
{% endschema %}
