<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    <!-- Data Layer for GTM
    ================================================== -->
    {{ 'jquery-2.2.4.min.js' | asset_url | script_tag }}

    {%- if settings.enable_script_data_layer -%}
      {% include 'script-data-layer' %}
    {%- endif -%}
    {% include 'script-google-tag-head' %}
    {% include 'script-google-analytics' %}

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <!--PDM-675-->
    {{ 'checkout-amazon-payments.css' | asset_url | stylesheet_tag }} 
    <!--PDM-675-->

    <!--PDM-1188-->
    {{ 'checkout-attentive.scss.css' | asset_url | stylesheet_tag }}
    <script src="https://cdn.attn.tv/bebe/checkout/checkout.js"></script>
    <!--PDM-1188-->
  </head>
  <body>
    {% include 'script-google-tag-body' %}
    
    {% comment %} Surefoot - Page Conceal Snippet  {% endcomment %}
    {% if settings.sf-page-conceal-enabled %}
      {% include 'anti-flicker-page' %}
    {% endif %}        

    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
          {%- if settings.enable_checkout_note and settings.checkout_note_text != blank -%}
            <div class="main__content__note">
            	<p>{{ settings.checkout_note_text }}</p>
            </div>
          {%- endif -%}
            {{ content_for_layout }}
            <!-- PDM-1188 -->
            {% include 'attentive' %}
            <!-- PDM-1188 -->
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

    {% include 'script-google-tag-body' %}
    {% if settings.sf-checkout-enabled %}
      {% include 'script-ga-checkout-step-labels' %}
    {% endif %}
    {% include 'checkout-customization-script' %}
    {% include 'swell-checkout' %}
    <script>
      $(window).bind("load", function() {
        $( ".product__description__property" ).each(function( index ) {
          var my_html = $(this).html();
          if (my_html.indexOf("final_sale") > -1){
              $(this).html('<div class="final_sale sale_product">{{settings.final_sale}}</div>');
          }
        });
      });
      setInterval(function(){ 
        $( ".product__description__property" ).each(function( index ) {
          var my_html = $(this).html();
          if (my_html.indexOf("final_sale") > -1){
              $(this).html('<div class="final_sale sale_product">{{settings.final_sale}}</div>');
          }
        });
      }, 2000) 
      // to adding the final Sale string dynamically

      // Persistent Note editing
      $( ".product__description__property" ).each(function( index ) {
        var html_property = $.trim($(this).html());
        if(html_property.indexOf('persistent_note:') > -1){
          var persistent_note = html_property.replace('persistent_note:','');
          $(this).html('<span class="persistent-note">' + persistent_note + '</span>');
        }
      });  

      // Updates to checkout verbiage - Surefoot

      $(document).ready(function() {
        /**
        * form will revert if a coupon code is entered. we need to change it back!
        */
        function listenForStepChanges() {
          $(document).on('page:load page:change', function () {
            if (!$('.sf-altered').length) {
              updateFormElements();
            }
            {% unless settings.shipping_method_text == blank %}
              addShippingMethodText();    
            {% endunless %}
          });
        }

        {% unless settings.shipping_method_text == blank %}
        /**
        * Add shipping method text- PDM-1610
        */
        function addShippingMethodText(){
          if(Shopify.Checkout.step == "shipping_method") {
            var $shippingTextSelector = $('.step[data-step="shipping_method"] .section--shipping-method .shipping-method-text');
            if($shippingTextSelector.length === 0){
              $('.step[data-step="shipping_method"] .step__sections .section--shipping-method .section__content').before('<p class="shipping-method-text">{{settings.shipping_method_text}}</p>');
            }
          }
        }
        {% endunless %}
        /**
        * update email & phone placeholders + change marketing optin checkbox label
        */
        function updateFormElements() {
          var $addressInfo = $('.section.section--shipping-address');
          $addressInfo.addClass('sf-altered');

          var $phoneInput = $('[name="checkout[shipping_address][phone]"]');
          var $phoneLabel = $('[for="checkout_shipping_address_phone"]');
          var $emailInput = $('[name="checkout[email]"]');
          var $emailLabel = $('[for="checkout_email"]');

          $('[for="checkout_buyer_accepts_marketing"]')
            .text('I want to receive emails about new arrivals & promotions — unsubscribe any time.');

          var labels = {
            phone: 'Telephone (only used if there\'s a problem with your order)',
            email: 'Email (only used for order updates)'
          };

          if ($(window).width() < 420) {
            labels.phone = 'Telephone (for delivery contact purposes)';
          }

          $phoneInput.attr('placeholder', labels.phone);
          $phoneLabel.text(labels.phone);

          $emailInput.attr('placeholder', labels.email);
          $emailLabel.text(labels.email);
          
          listenForStepChanges()
        }
        
        updateFormElements()
      });      

    </script>
    <style>
      .persistent-note {
        font-weight: 700;
        color: {{ settings.persistent_note_color }};
      }
    </style>
  </body>
</html>

