{% comment %}

  TEMPLATE CODE :: ASSIGNMENTS

{% endcomment %}

{% comment %} Simple Layout : No Wrapper or Breadcrumbs {% endcomment %}
{% assign simple_layout = false %}
{% assign has_breadcrumb = true %}
{% assign content_row_wrapper = true %}

{% case template %}
  {% when 'index' %}
    {% assign simple_layout = true %}

  {% when 'product' %}
    {% assign has_breadcrumb = true %}
    {% assign content_row_wrapper = false %}

  {% when 'cart' %}
    {% assign has_breadcrumb = false %}
    {% assign content_row_wrapper = false %}

  {% when 'collection' %}
    {% assign has_breadcrumb = false %}
    {% assign simple_layout = true %}

  {% when 'list-collections' %}
    {% assign simple_layout = true %}

  {% when 'blog' %}
    {% assign simple_layout = true %}

  {% when 'customers/login' %}
    {% assign has_breadcrumb = false %}

  {% when 'customers/account' %}
    {% assign has_breadcrumb = false %}

  {% when 'customers/account.orders'%}
    {% assign has_breadcrumb = false %}

  {% when 'customers/order' %}
    {% assign has_breadcrumb = false %}

  {% when 'customers/addresses' %}
    {% assign has_breadcrumb = false %}

  {% when 'search' %}
    {% assign has_breadcrumb = false %}

  {% when '404' %}
    {% assign has_breadcrumb = false %}

  {% when 'page.landing' %}
    {% assign has_breadcrumb = false %}

  {% when 'page.faq' %}
    {% assign has_breadcrumb = false %}

  {% when 'page.contact' %}
    {% assign has_breadcrumb = false %}

  {% when 'page.resetpassword' %}
    {% assign has_breadcrumb = false %}

  {% when 'page.instagallery' %}
    {% assign has_breadcrumb = false %}

  {% when 'page.loveyourself' %}
    {% assign has_breadcrumb = false %}
    {% assign content_row_wrapper = false %}

  {% when 'page.indi-brand-advocate' %}
    {% assign has_breadcrumb = false %}
    {% assign content_row_wrapper = false %}

{% endcase %}

{% comment %} THEME :: START CODE {% endcomment %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Add any tracking or verification meta content below this line -->
  <!-- Facebook or Google Analytics tracking should be placed in your Online store > Preferences and not your theme -->

  <!-- Meta content
================================================== -->
  <title>
    {{ page_title }}{% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
  {% include 'social-media-meta-tags' %}

  {% if template contains 'cart' %}
	  <meta name="format-detection" content="telephone=no">
  {% endif %}

  <meta name="google-site-verification" content="MW12oggtR9jmrow8u0VWHG3kbw3uW8Rd3Jvj0jCkidM" />

  <!-- CSS
================================================== -->
  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}
  {{ 'bc-sf-filter.scss.css' | asset_url | stylesheet_tag }} {% comment %} Filter App Styling {% endcomment %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Typography
================================================== -->
 {% comment %} {% include 'google-fonts' %} {% endcomment %}
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6183294/6547012/css/fonts.css" />

  <!-- JS
================================================== -->
  {% comment %} NOTE : Remove the .min on react to get better error messaging {% endcomment %}
  {{ 'react.min.js' | asset_url | script_tag }}
  {{ 'react-dom.min.js' | asset_url | script_tag }}
  {{ 'jquery-2.2.4.min.js' | asset_url | script_tag }}
  {{ "eventemitter3.min.js" | asset_url | script_tag }}
  {{ 'slick.min.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'jquery.fs.shifter.js' | asset_url | script_tag }}
  {% include 'script-yotpo' %}

  {% comment %}{% include 'script-zendesk' %}{% endcomment %}

    <!-- GTM
================================================== -->
  {% include 'script-google-tag-head' %}

  {%- if settings.enable_script_data_layer -%}
    {% include 'script-data-layer' %}
  {%- endif -%}

  {% comment %} :: MULTI-CURRENCY :: {% endcomment %}
  {%- if settings.show_multiple_currencies -%}
    {% include 'currencies' %}
  {%- endif -%}

  {% comment %} :: INSTAGRAM FEED :: {% endcomment %}
  {% if template contains 'index' %}
    {{ 'instafeed.js' | asset_url | script_tag }}
  {% endif %}


  <!-- Favicons
================================================== -->
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}">
  {% endif %}


  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'borderfree-snippets' %}

  {{ content_for_header }}

  {{ 'bfx.scss.css' | asset_url | stylesheet_tag }}

  {% include 'nosto-script' with 'shopify-3379396672' %}
  {% include 'criteo-tracking' %}

  {% comment %} Yottaa Rapid CTRL {% endcomment %}
  {% if settings.yottaa_key != blank %}
    {% include 'yottaa-script' %}
  {% endif %}

  {% if settings.enable_simple_preorder %}
    {% unless template contains 'cart' %}
      <!-- Snippet for Simple Preorder app -->
      {% include 'simple-preorder-bootstrap' %}
    {% endunless %}  
  {% endif %}

</head>

<body class="gridlock shifter bfx-price-container bfx-remove-element-container body-{{ template.name }} {% if template contains 'product' %}product{% elsif template contains 'collection' %}collection{% else %}{{ template | replace: '.', ' ' | handle }}{% endif %}">

  {% comment %} Surefoot - Page Conceal Snippet  {% endcomment %}
  {% if settings.sf-page-conceal-enabled %}
    {% include 'anti-flicker-page' %}
  {% endif %}
  
  {% comment %} Klarna Payments  {% endcomment %}
  {% if settings.klarna_on_site_messaging_enabled %}
    {% include 'script-klarna-on-site-messaging' %}
  {% endif %}
  {% include 'timber-cart' %}

  <div id="DrawerPageContainer" class="drawer-content">
    {% if settings.enable_newsletter_signup %}
      {% section 'offer-tab' %}
    {% endif %}
    {% include 'script-google-tag-body' %}
    {% section 'super-banner-global' %}
    {% if template contains 'collection' %}
      {% section 'super-banner-plp' %}
    {% endif %}
    {% if template contains 'product' %}
      {% section 'super-banner-pdp' %}
    {% endif %}
    {% comment %} :: Fixed header cannot be wrapped in a transitional container. :: {% endcomment %}
    {% section 'header' %}

    <div class="shifter-page{% if settings.ajax_cart_method == 'drawer' %} is-moved-by-drawer{% endif %}" id="PageContainer">
      <div class="page-wrap">

        <div class="clear"></div>

        {% comment %}
          REACT : EXAMPLE #1
          <div id="example-global-react" data-info-passed-to-react='{ "name": "greg" }'></div>
        {% endcomment %}

        {% comment %} :: Simple Layout :: {% endcomment %}
        {% if simple_layout %}

          {{ content_for_layout }}

        {% comment %} :: ALL OTHER PAGES :: {% endcomment %}
        {% else %}

          {% comment %} :: BREADCRUMBS :: {% endcomment %}
          {% if settings.breadcrumb and has_breadcrumb %}
            {% include 'breadcrumb' %}
          {% endif %}

          {% comment %} :: PAGE CONTENT :: {% endcomment %}
          <div id="content" {% if content_row_wrapper %}class="row"{% endif %} >

            {{ content_for_layout }}

          </div>

        {% endif %}
        {% comment %} :: End of 'ALL OTHER PAGES' IF block :: {% endcomment %}

      </div>  <!-- close the page-wrap class -->

      
      {% section 'footer' %}
    </div> <!-- close the shifter-page class -->

    {% include 'cookie-banner' %}

    {% include 'popup' %}

    <a href="#" class="scrollup"><i class="icon-chevron-up icon-2x"></i></a>
  </div>

  <!-- Begin Recently Viewed Products -->
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    // Including api.jquery.js conditionnally.
    if (typeof Shopify.resizeImage === 'undefined') {
      document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
    }
    //]]>``
  </script>
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}

  {% if template contains 'product' %}
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    Shopify.Products.recordRecentlyViewed();
    //]]>
    $('input, textarea').placeholder();
  </script>
  {% endif %}
  {% if settings.show-facebook-like %}
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127142210767229";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  {% endif %}

  {% if settings.ajax_cart_method == 'drawer' %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '.product_form',
          cartContainer: '#CartContainer',
          addToCartSelector: '.AddtoCart',
          cartCountSelector: '.CartCount, .cart-count',
          cartCostSelector: '.CartCost',
          moneyFormat: {{ shop.money_format | json }}
       });
      });
      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
      {% if settings.show_multiple_currencies %}
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Convert currency when ajaxcart opens
          Currency.convertAll(shopCurrency, Currency.currentCurrency);
        });
      {% endif %}
    </script>
  {% endif %}

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <script>
      document.documentElement.className = document.documentElement.className.replace("no-js","js");
  </script>
  <!-- Add any additional scripts below this line -->
<!--begin-bc-sf-filter-js-->
  {% include 'bc-sf-filter' %}
<!--end-bc-sf-filter-js-->

  {% include 'nosto-tagging' %}
  {% include 'borderfree-custom-selector' %}

  <script src="{{ 'borderfree.js' | asset_url }}"></script>
  <script>
    const isProd = {{ isProd | json }};
    (function() {
      Borderfree.init(isProd);
    }());
  </script>

  {% section 'gift-with-purchase' %}
</body>
</html>
